<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775995664739-6b131cd2as4v197poonopvgv4ggmbfsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775995664739-6b131cd2as4v197poonopvgv4ggmbfsk</string>
	<key>API_KEY</key>
	<string>AIzaSyAvx1v__00mbWtZXyoM2pnhMu-TDDTejZM</string>
	<key>GCM_SENDER_ID</key>
	<string>775995664739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginassessment</string>
	<key>PROJECT_ID</key>
	<string>loginassement</string>
	<key>STORAGE_BUCKET</key>
	<string>loginassement.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775995664739:ios:bbd2c364aefd14b4414b56</string>
</dict>
</plist>